{% extends 'base.html.twig' %}

{% block body %}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ product.product }}  - Product Edit</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        {#<form role="form">#}
            {{ form_start(form,{'attr':{'class':'','role':'form'}}) }}
            <div class="box-body">

                <div class="form-group">
                    {{ form_label(form.vendor,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_widget(form.vendor,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                    {{ form_errors(form.vendor) }}

                </div>
                <div class="form-group">
                    {{ form_label(form.link,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_widget(form.link,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                    {{ form_errors(form.link) }}

                </div>
                <div class="form-group">
                    {{ form_label(form.product,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_widget(form.product,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                    {{ form_errors(form.product) }}

                </div>
                <div class="form-group">
                    {{ form_label(form.launchDate,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_widget(form.launchDate,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                    {{ form_errors(form.launchDate) }}

                </div>
                <div class="form-group">
                    {{ form_label(form.launchTime,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_widget(form.launchTime,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                    {{ form_errors(form.launchTime) }}

                </div>
                <div class="form-group">
                    {{ form_label(form.frontEndPrice,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_widget(form.frontEndPrice,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                    {{ form_errors(form.frontEndPrice) }}

                </div>
                <div class="form-group">
                    {{ form_label(form.commision,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_widget(form.commision,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                    {{ form_errors(form.commision) }}

                </div>

                    <div class="form-group">
                        {{ form_label(form.jvPage,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_widget(form.jvPage,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                        {{ form_errors(form.jvPage) }}

                    </div>
                <div class="form-group">
                    {{ form_label(form.affiliateNetwork,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_widget(form.affiliateNetwork,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                    {{ form_errors(form.affiliateNetwork) }}

                </div>
                <div class="form-group">
                    {{ form_label(form.niche,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_widget(form.niche,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                    {{ form_errors(form.niche) }}

                </div>
                <div class="form-group">
                    {{ form_label(form.status,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_widget(form.status,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                    {{ form_errors(form.status) }}

                </div>

                    <div class="form-group">
                        {{ form_label(form.comment,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_widget(form.comment,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                        {{ form_errors(form.comment) }}

                    </div>




            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                {{ form_widget(form.save,{'attr':{'class':'btn btn-success' }}) }}
            </div>

            {{ form_end(form) }}
    </div>

{% endblock %}